<form class="form-product-ajax" method="POST" action="{% url 'wishlist:update' %}" data-endpoint="{% url 'wishlist:update' %}" class="form">{% csrf_token %}
        <input class="wishlist-item-product-id" type="hidden" name="product_id" value="{{ product_id }}"/>
        <button type="submit" class="btn btn-link btn-sm" style="padding:0px";cursor:pointer>Remove?</button>
    </form>