{% extends "base.html" %}
{% block content %}
<div class='row'>
    {% include 'base/navbar1.html' with brand_name='ShopZing' %}
    <div class='col-md-4 col-10  mx-auto my-5'>
    <h1>Reset your Password</h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Reset Password</button>
        </form>
      </div>
</div>
{% endblock %}
