{% extends "base.html" %}
{% block content %}
<div class='row'>
{% include 'base/navbar1.html' with brand_name='ShopZing' %}
    <div class="col-12 text-center py-5">
            <h1 class='my-5 py-5'>Rest Instructions Sent</h1>
            <p>Please check your email</p>
      </div>
</div>
{% endblock %}
