{% extends "base.html" %}
{% block content %}
<div class='row'>
      {% include 'base/navbar1.html' with brand_name='ShopZing' %}
    <div class="col-12 text-center py-5">
            <h1 class='my-5 py-5'>Password successfully changed!</h1>
      </div>
</div>
{% endblock %}
