{% url 'home' as home_url %}
{% url 'products:product_list' as product_url %}
{% url 'products:new_products' as newproducts_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
<!-- {% url 'register' as register_url %} -->
{% url 'contact' as contact_url %}
{% url 'account:home' as account_url %}
{% url 'wishlist:home' as wishlist_url %}

    

{% include 'base/css.html' %}
<div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fas fa-window-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12">
                    
                    {% include 'search/snippets/search_form.html' %}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="shopzing-navbar-brand">
                    <a href="{{ home_url }}"></a>
                    <img src="/media/products/site_logo.png" class="d-inline-block align-top" alt="">
            </div>
            <!-- Navbar Toggler -->
            <div class="shopzing-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area">
        <nav class="navbar">
            <!-- Logo -->
            <div class="logo">
                <!-- <a href="index.html"><img src="img/core-img/logo.png" alt=""></a> -->
                <a href="{{ home_url }}"></a>
                <img src="/media/products/site_logo.png" class="d-inline-block align-top" alt="">
            </div>
            <!-- shopzing Nav -->
            <nav class="shopzing-nav">
                <ul>
                    <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                    <a href="{{ home_url }}">Home</a>
                    </li>
                    <li class="nav-item {% if request.path == product_url %}active{% endif %}">
                    <a href="{{ product_url }}">Products</a>
                    </li>
                    <li class="nav-item {% if request.path == wishlist_url %}active{% endif %}">
                    <a  href="{{ wishlist_url }}">Wishlist  <span class="navbar-wish-count">{{ request.session.wishlist_items }}</span>  <i class="fas fa-bell"></i></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item {% if request.path == account_url %}active{% endif %}">
                        <a href="{{ account_url }}">Account</a>
                    </li>
                    <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
                    <a href="{{ logout_url }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item {% if request.path == login_url %}active{% endif %}">
                    <a href="{{ login_url }}">Login</a>
                    </li>
                  {% endif %}
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="shopzing-btn-group mt-30 mb-100">
                <a href="{{ home_url }}" class="btn shopzing-btn mb-15">%Discount%</a>
                <a href="{{ newproducts_url }}" class="btn shopzing-btn active">New this week</a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="#" class="fav-nav"><img src="" alt=""> Favourite</a>
                <a href="#" class="search-nav"><img src="" alt=""> Search</a>
                <!-- {% include 'search/snippets/search_form.html' %} -->
            </div>
            <!-- Social Button -->
            <!-- <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div> -->
            
        </header>
        
          
        
    </div>
    
        
    
        