{% url 'home' as home_url %}
{% url 'products:product_list' as product_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
<!-- {% url 'register' as register_url %} -->
{% url 'contact' as contact_url %}
{% url 'account:home' as account_url %}
{% url 'wishlist:home' as wishlist_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
  <div class="container">
        <a class="navbar-brand" href="{{ home_url }}">
          <img src="/media/products/site_logo.png" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == home_url %}active{% endif %}">
              <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == product_url %}active{% endif %}">
              <a class="nav-link" href="{{ product_url }}">Products</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {% if request.path == account_url %}active{% endif %}" href="{{ account_url }}">Home</a>
                <a class="dropdown-item" href="#">Preferences</a>
                <a class="dropdown-item" href="#">Notifications</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
              </div>
            </li>
            {% else %}
            
            <!-- <li class="nav-item {% if request.path == register_url %}active{% endif %}">
              <a class="nav-link" href="{{ register_url }}">Register</a>
            </li> -->
            <li class="nav-item {% if request.path == login_url %}active{% endif %}">
              <a class="nav-link" href="{{ login_url }}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
              <a class="nav-link" href="{{ contact_url }}">Contact Us</a>
            </li>
            <li class="nav-item {% if request.path == wishlist_url %}active{% endif %}">
                <a class="nav-link" href="{{ wishlist_url }}"><span class="navbar-wish-count">{{ request.session.wishlist_items }}</span> <i class="fas fa-bell"></i></a>
              </li>
          </ul>
          {% include 'search/snippets/search_form.html' %}
        </div>
  </div>
      </nav>