{% extends 'base.html' %}



{% block content %}
<div class="row">
    {% include 'base/navbar1.html' with brand_name='ShopZing' %}

{% if wishlist.products.exists %}
<!-- <div class="row"> -->
  <div class="col-4 my-5">
<table class="table table-hover table-borderless wishlist-home">
        <thead class="table-secondary">
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
          </tr>
        </thead>
        <tbody class="wishlist-body">
        {% for product in wishlist.products.all %}
          <tr class="wishlist-product">
            <th scope="row" class="tb-counter">{{ forloop.counter }}</th>
            <td class="tb-img">
                    <img class="src-img" src="{{product.productimage_set.first.image.url}}" width="32%" height="30%" alt="{{ product.title }} logo">
            </td>
            <td class="tb-title"><a href="{{ product.get_absolute_url }}"><h6>{{ product.title }}</h6></a>
                {% include 'wishlist/snippets/remove_product.html' with product_id=product.id %}
            </td>
            <td class="tb-price">{{ product.price }} CZK</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- </div> -->
      <div class="wishlist-item-remove-form" style="display:none">
          {% include 'wishlist/snippets/remove_product.html' %}
      </div>
    {% else %}
    <p class="lead">Wishlist is empty</p>
    {% endif %}
</div>
{% endblock content %}
    