
<div class="container mt-4">
<div class="row">
<div class="col mb-3 flip">

<div class="card my-3" style="width: 16rem;">
    
    {% if instance.to_display %}
    <div class="image">
    <a href="{{ instance.get_absolute_url }}">
      <img class="card-img-top my-3" src="{{instance.productimage_set.first.image.url}}" alt="{{ instance.title }} logo">
    </a>
    </div>
    
    
    
    <div class="card-body front">
      <h6 class="card-title">{{ instance.title }}</h6>
      <p class="card-text">{{ instance.weight }}</p>
      
      <!-- <p class="card-text">{{ instance.price }} CZK</p> -->
      {% if instance.discounted %}
      <h4><span class="badge badge-danger">{{ instance.discounted_price }} CZK</span></h4>
      {% else %}
      <h4><span class="badge badge-info">{{ instance.price }} CZK</span></h4>
      {% endif %}
      <!-- <a href="{{ instance.get_absolute_url }}" class="btn btn-primary my-2 viewbtn">View</a> -->
      <!-- <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL Shortcut</a> -->
      
      
      {% endif %}
      
      {% if user.is_authenticated %}
      {% include 'products/snippets/update_wishlist.html' with product=instance wishlist=wishlist %}
      
      {% endif %}
      <div>
      <button type="button" class="btn detail fliper-btn">Details</button>
      </div>
    </div>
    
    <div class="back">
      {% if instance.description %}
      <p class="card-text">{{ instance.description }}</p>
      {% endif %}
      <div class="imglogo">
      <img class="img" src="{{ instance.brand_logo.url }}" style="height: 60px" alt="">
      </div>
      <div>
      <button type="button" class="btn bck fliper-btn"><i class="fas fa-arrow-left"></i></button>
      </div>
    </div>
  </div>
</div>
</div>
</div>





 
