<form class="form-product-ajax" method="POST" action="{% url 'wishlist:update' %}" data-endpoint="{% url 'wishlist:update' %}" class="form">{% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}"/>
    <span class="submit-span">
    {% if product in wishlist.products.all %}
        In wishlist <button type="submit" class="btn btn-link">Remove?</button>
    {% else %}
        <button class="btn btn-success">Add to wishlist</button> 
    {% endif %} 
    </span>
</form>





