{% extends 'base.html' %}


{% block content %}
<!-- {{ request.user }} -->
<!-- <div class="row">
<div class="col">
    <h2>Account</h2>
    <hr/>
</div>
</div> -->
<div class="row">
{% include 'base/navbar1.html' with brand_name='ShopZing' %}
    
<div class="col-12 col-md-3 my-5 support">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Support</h5>
            <div class="list-group">
                <!-- <a class="list_group-item" href="{% url 'contact' %}"></a> -->
                <a class="list-group-item" href="{% url 'contact' %}">Contact</a>
            </div>
        
        </div>
    </div>
</div>

<div class="col-12 col-md-3 my-5 preferences">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Preferences</h4>
        <div class="list-group">
                <a class="list-group-item" href="{% url 'password_change' %}">Change Password</a>
        </div>
        
        </div>
    </div>
</div>

<div class="col-12 col-md-3 my-5 notifications">
    <div class="card accounts">
        <div class="card-body">
        <h5 class="card-title">Notifications</h5>
        <div class="list-group">
                <a class="list-group-item" href="{% url 'notifications:home' %}">Settings</a>
        </div>
        
        </div>
    </div>
</div>
</div>

{% endblock %}
