{% extends 'base.html' %}


{% block content %}

<div class="row">
    
    {% include 'base/navbar1.html' with brand_name='ShopZing' %}
  <title>Login Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  {% include 'base/custom_css_login.html' %}
 
 

{% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
  <!-- /Error messaging -->
  {% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
    
{% csrf_token %}
<h1>Log in</h1>
  <div class="inset">
  <!-- <p>
    <label for="email">Email</label>
    <td>{{ form.email }}</td>
  </p>
  <p>
    <label for="password">Password</label>
    <td>{{ form.password }}</td>
  </p>
  </div> -->
  <p class="p-container">    
      {{ form.as_p }}
      </p>
  <p class="p-container">
    <a href="{% url 'register' %}"><span>Don't have an account ?</span></a>
  </p>
  <p class="p-container">
      <a href="{% url 'password_reset' %}"><span>Forgot password ?</span></a>
    <input type="submit" name="go" id="go" value="Log in">
    <input type="hidden" name="next" value="{{ next }}" />
  </p>
  
</form>


</div>

{% endblock %}