{% extends 'base.html' %}


{% block content %}
<div class="row">
        {% include 'base/navbar1.html' with brand_name='ShopZing' %}
<title>Register Form</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
{% include 'base/custom_css_login.html' %}


    <form method='POST'> {% csrf_token %}
        <h1>Register</h1>
        <div class="inset">
      <p class="p-container">    
      {{ form.as_p }}
      </p>
      <p class="p-container">    
        <input type="submit" value="Register">
        </p>
      
    </form>
</div>
{% endblock %}
