{% extends 'base.html' %}

{% block content %}
        <div class="row">
          {% include 'base/navbar1.html' with brand_name='ShopZing' %}
        </div>
           {% if request.GET.q %} 
          <div class="col-10 col-md-1 col-sm-1">
               Results for <b>{{ request.GET.q }}</b>
          </div>
           {% else %}
           <div class="col-12 mb-3">
                Suggested discounted products</b><hr/>
           </div>
           {% endif %}
     <div class="row">
    {% for obj in object_list %}
        <div class="col-2 searched">
               {% include 'products/snippets/card.html' with instance=obj %}
        
               {% if forloop.counter|divisibleby:4 %}
                    </div></div> <div class='row'>
               {% else %}
                    </div>
               {% endif %}
                
     {% endfor %}



    <div class="col paginator">
     {% include 'base/pagination.html' %}
     </div>
{% endblock content %}
    