<p>One or more products in your wishlist are on discount!</p>

<p>See the list of products bellow</p>
     
     {% for product in products %}
         {{ product.0 }} with original price of {{ product.1 }} CZK is now {{ product.2 }} CZK in {{ product.3 }}.
         <hr/>
     {% endfor %}
         
    

<p><a href="{{ path }}">{{ path }}</a></p>