{% extends 'base.html' %}

{% block content %}
<div class="row">
{% include 'base/navbar1.html' with brand_name='ShopZing' %}
<div class="text-center">
  
  <body>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col">
          
          <div class="col-md-6 col-12 mx-auto">
            <p>{{ content }}</p>
              <form class="contact-form" method="post" action="{% url 'contact' %}"> {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-default">Submit</button>
              </form>
          </div>
        </div>

    </div>

</div>
</div>
{% endblock content %}

