<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/custom_css1.html' %}
    {% include 'base/css.html' %}
    
    
    
  </head>
  <body>
    
    <!-- <div class="container"> -->
      {% if messages %}
      <div class="alert alert-success messages">
        {% for message in messages %}
          <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}<br/>
          </span>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}
    
      {% endblock content %}
    <!-- </div> -->

    
    {% include 'base/js.html' %}
    {% block javascript %}
    
    {% endblock javascript %}

    
  </body>
</html>