{% extends 'base.html' %}

{% block content %}

    <div class="row">
            
    {% include 'base/navbar1.html' with brand_name='ShopZing' %}
    
    </div>
    <div class="row">
     
    {% if object_list.counter > 0 %} 
            
        {% for obj in object_list %}
        {% if obj.to_display %}
        <div class="col-2 product-items">
            
            {% include 'products/snippets/card.html' with instance=obj %}
            
            {% if forloop.counter|divisibleby:4 %}
            </div></div> <div class='row'>
            {% else %}
            </div>
            {% endif %}
            
                
        {% endif %}   
        {% endfor %}
    {% else %}
    <p class="lead">No new items this week</p>
    {% endif %}
    
</div>

  
<div class="col-1 paginator">
    {% include 'base/pagination.html' %}
</div>
   
{% endblock content %}
