{% extends 'base.html' %}

{% block content %}
<div class="row">
  {% include 'base/navbar1.html' with brand_name='ShopZing' %}
  <div class="container">
     
    {% for object in object_list  %}
        

  {% if object.active and object.to_display %}
  <div class="product-detail">
    <h1>{{ object.title }}</h1> </br>
    {{ object.weight }} </br></br></br>
    {{ object.description|linebreaks }} </br>

    {% if user.is_authenticated %}
    {% include 'products/snippets/update_wishlist.html' with product=object wishlist=wishlist %}
    {% endif %}

  {% endif %}
    
    {% if object.productimage_set.all %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
      {% for product_image in object.productimage_set.all %}
      
          <div class="{% if forloop.counter == 1 %}carousel-item active{% else %}carousel-item{% endif %}" id="slide{{ forloop.counter }}">
              <a target="_blank" href="{{ product_image.image.url }}">
            <img src="{{product_image.image.url}}" class="d-block w-100" alt="{{ object.title }}">
          </div>
    
        <!-- <div class="carousel-item">
            <a target="_blank" href="{{ product_image.image.url }}">
          <img src="{{product_image.image.url}}" class="d-block w-100" alt="{{ object.title }}">
        </div> -->
        {% if forloop.counter > 1 %}
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      </div>
    {% endif %}
    </div>
    
      {% endfor %}
      <div class="price-group">
          {% if object_list.count > 1 %}
        </div><div class="price-group">
          {% endif %}
          <div class="col-3 product-price">
          
          {% for object in object_list  %}
            
            
              
              
          {% if object.discounted %}
            <h4><span class="badge badge-info">Original: {{ object.price }} CZK</span></h4>
            <h2><span class="badge badge-danger">Super Price: {{ object.discounted_price }} CZK</span></h2>
            {% if object.discounted_until %}
              <h5><span class="badge badge-warning">Time left: {{ object.discounted_until|timeuntil }}</span></h5>
            {% endif %}
            
          {% else %}
            <h2><span class="badge badge-info">{{ object.price }} CZK</span></h2>
          {% endif %}
          <img class="img" src="{{ object.brand_logo.url }}" style="height: 100px" alt=""><hr/>
          {% endfor %}
        </div>
    </div>  
  </div>
  </div>  
</div>
  
 
{% endblock content %}
