{% extends 'base.html' %}

{% block content %}

    {{ object.title }} </br>
    {{ object.weight }} </br>
    {{ object.description }} </br>

    {% if product.productimage_set.all %}

    {% for product_image in product.productimage_set.all %}
    <div class="profile-img-container" style="text-align: center">
        <img class="img" src="{{ product_image.image.url }}" style="height: 150px">
        <a target="_blank" href="{{ product_image.image.url }}">Link
            <!-- <span class="fa fa-expand fa-5x" style="color: darkcyan" aria-hidden="true"></span> -->
        </a>
    </div>
    {% endfor %}

    {% endif %}

{% endblock content %}








