{% extends 'base.html' %}


{% block content %}
<!-- {{ request.user }} -->
<!-- <div class="row">
<div class="col">
    <h2>Account</h2>
    <hr/>
</div>
</div> -->
<div class="row">
{% include 'base/navbar1.html' with brand_name='ShopZing' %}
 <div class="row">
     <div class="notifications-enabled">
            <p>User: {{ user }}</p>
            <p>Notification Enabled: {{ enabled }}</p>
            <p>Last Change: {{ enabled_date }}</p>
        <form action="{% url 'notifications:update' %}" method="post"> {% csrf_token %}
            {% if enabled == True %}
                <button type="submit" class="btn btn-danger">Disable</button>
            {% else %}
            <button type="submit" class="btn btn-success">Enable notifications</button> 
            {% endif %} 
        </form>
     </div>
     
</div>   
</div>

{% endblock %}
